:root {
 --bg-clr: hsl(273, 75%, 66%);
}

* {
    margin: 0; 
    padding: 0;
}

body {
    background: var(--bg-clr)
}

.container {
    max-width: 360px;
    height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 60px;
}

.mobile-img {
    width: 20%;
    margin: auto;
    display: block;
}