:root {
 --bg-clr: hsl(273, 75%, 66%);
}

* {
    margin: 0; 
    padding: 0;
}

body {
    background: var(--bg-clr)
}

.container {
    max-width: 360px;
    height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 3rem;
    
}

.text-container {
    padding: 2rem;
    padding-top: 5rem;
}

.mobile-img {
    width: 50%;
    margin: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-bottom:-125px; /* 156px is half of #userAvatar's height */
    margin-left:calc(275px - 150px);
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .accordion {
    background-color: white !important;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid black;
  }

